/* Page layout */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-family: sans-serif;
}

/* grid styling */
.activePod:hover {
  stroke-width: 2;
  stroke: #FF00FF;
}

/* other styling */
a {
  color: #ccc;
  padding: 10px;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #333;
}

#dataPanel {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infoDialog {
    display: block;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: monospace;
    white-space: pre-wrap;
}

.good {
    color: #008000;
    font-weight: bold;
}

.fair {
    color: #e6b800;
    font-weight: bold;
}

.poor {
    color: #cc0000;
    font-weight: bold;
}

.tableHead {
    font-weight: bold;
}

.leftAlignedBold {
    text-align: left;
    font-weight: bold;
}

.aNuc {
    color: #00ff00;
    font-family: monospace;
    font-weight: bold;
}

.cNuc {
    color: #ffcc00;
    font-family: monospace;
    font-weight: bold;
}

.gNuc {
    color: #ff0000;
    font-family: monospace;
    font-weight: bold;
}

.tNuc {
    color: #0000ff;
    font-family: monospace;
    font-weight: bold;
}

.subst {
    color: #ff0000;
    font-family: monospace;
    font-weight: bold;
}
