/* Page layout */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-family: sans-serif;
}

/* Sticky-footer styling and placement */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
    flex-shrink: 0;
    height: '100vh';
    width: 100%;
    color: #FFFFFF;
    background-color: #414042;
    text-align: center;
}

/* Main content styling */
.content {
    flex-grow: 1;
    padding: theme.spacing(3);
    height: '100vh';
    overflow: 'auto';
}

/* grid styling */
.activePod:hover {
  stroke-width: 2;
  stroke: #FF00FF;
}

/* other styling */
a {
  color: #0066FF;
  padding: 10px;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #333;
}

#dataPanel {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infoDialog {
    display: block;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: monospace;
    white-space: pre-wrap;
}

.good {
    color: #009e73;
    font-weight: bold;
}

.fair {
    color: #e69f00;
    font-weight: bold;
}

.poor {
    color: #d41159;
    font-weight: bold;
}

.tableHead {
    font-weight: bold;
}

.leftAlignedBold {
    text-align: left;
    font-weight: bold;
}

.aNuc {
    color: #009e73;
    font-family: monospace;
    font-weight: bold;
}

.cNuc {
    color: #e69f00;
    font-family: monospace;
    font-weight: bold;
}

.gNuc {
    color: #d55e00;
    font-family: monospace;
    font-weight: bold;
}

.tNuc {
    color: #0072b2;
    font-family: monospace;
    font-weight: bold;
}

.subst {
    color: #cc79a7;
    font-family: monospace;
    font-weight: bold;
}

.bold {
    font-weight: bold
}

.superscript {
    vertical-align: super;
}

.italic {
    font-style: italic;
}

.small {
    font-size: 85%;
}
